.animal-show{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 3px 4px lightgrey;
}
.animal{
    height: 200px;
}
.heart{
    position: absolute;
    bottom: 10%;
    right: 10%;
}